$grey: #515151;
$dark_grey: #1A1B26;
$orange: #DB7600;
$light-orange: #FEA237;
$red: #fF3d00;
$black: #001529;
$orangeGradient: radial-gradient(81.88% 81.88% at 50% 81.88%, #FF3D00 0%, #FFA800 100%);


:root {
  font-family: Arvo, 'Arvo', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 100vw;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.headerTitle {
  color: white;
}

h1, h2, h3, h4 {
  font-family: Colus, 'Colus Regular', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
p {
  font-family: Arvo, 'Arvo Regular', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}



.cardRoot {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  width: 280px;
  height: 400px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: $grey;
  border: 4px solid $dark_grey;

  .top {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-top: 10px;
      padding-bottom: 10px;
      min-height: 40%;
      h1,
      h2,
      h3,
      h4,
      h5 {
          color: white;
      }

  }

  .bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 20px;
      padding-bottom: 10px;
      background-color: white;
      flex-grow: 1;
      border-radius: 20px;
      .subtle {
          margin-bottom: auto;
          font-size: 10px;
      }
      .description {
          margin-top: auto;
          margin-bottom: auto;
      }
  }
}


.ant-layout {
  height: 100vh;
}

.ant-layout-content {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: scroll;
  .cardList {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
  }
}

.ant-layout-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 120px;

  .column {
    margin-left: auto;
    margin-right: auto;

    h1 {
      margin-bottom: 0px;
      color: $orange
    }

    p {
      color: white;
      font-size: 12px;
      margin: 0;
      max-height: 14px;
    }
  }

}

.ant-layout-footer {
  border-top:1px solid $black;
  height: 40px;
  padding: 0px;
}

svg.logo {
  justify-self: flex-start;
  width: 60px;
  height: 60px;
}
.ant-btn {
  min-width: 117px;
  height: 40px;
  padding: 10px;
  background: $orange;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  p {
     
      font-family: 'Arvo';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
  }
}
.ant-btn .disabled {
  opacity: 0.5;
}
.ant-btn:hover {
  background: $light-orange !important;
}

.subtle {
  opacity: 0.7
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
